.github/**
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.prettierignore
eslint.config.mjs
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
node_modules
src
*.lock
package-lock.json
tsconfig.json