name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: npm install
      - run: npm run build
      - run: npm run typecheck
      - run: npm run lint
      - run: npm run format -- --check

      - name: package extension
        run: |
          npx vsce package
          ls -lt *.vsix
